<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:replace="partials/head :: head ('Roll the Dice')">-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Roll Dice</h1>
<h2>Guess a number between 1 and 6</h2>
<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>

<h2 th:if="${n}">
    <p>You guessed [[${n}]]</p>
    <p>The dice rolled [[${random}]]</p>
    <p th:if="${n == random}">You guessed correctly!</p>
    <p th:if="${n != random}">You fail.</p>

</h2>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>